<div class="section-title">
  Employees
</div>

<div>
  <div *ngFor="let employee of employees; index as i" class="employees-container">
    <div class="employee-container">
      <div>
        First Name: {{employee.firstName}}
      </div>
      <div>
        Last Name: {{employee.lastName}}
      </div>
      <div>
        <mat-icon (click)="deleteEmployee(i)">delete</mat-icon>
      </div>
    </div>
  </div>
</div>

<button mat-raised-button (click)="showAddEmployeePopup()">Add Employee</button>


<!-- <div>
  <mat-table #table [dataSource]="employeeDataSource">

    <mat-header-row *cdkHeaderRowDef="employeeColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: employeeColumns;"></mat-row>

    <ng-container cdkColumnDef="empId">
      <mat-header-cell *cdkHeaderCellDef>ID</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.empId}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="jobTitleName">
      <mat-header-cell *cdkHeaderCellDef>JobTitle</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.jobTitleName}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="firstName">
      <mat-header-cell *cdkHeaderCellDef>FirstName</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.firstName}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="lastName">
      <mat-header-cell *cdkHeaderCellDef>LastName</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.lastName}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="phoneNumber">
      <mat-header-cell *cdkHeaderCellDef>Ph. No</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="emailAddress">
      <mat-header-cell *cdkHeaderCellDef>Email Address</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.emailAddress}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="skills">
      <mat-header-cell *cdkHeaderCellDef>Skills</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.skills | skillPipe}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
      <button *cdkCellDef="let row">Edit</button>
      <button *cdkCellDef="let row">Delete</button>
    </ng-container>

  </mat-table>
</div> -->